<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contribution.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contribution.message %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
